<div
  class="max-w-md w-full space-y-8 p-6 bg-white dark:bg-gray-900 rounded-lg shadow-md my-12"
>
  <div>
    <h2
      class="text-center text-3xl font-bold text-gray-900 dark:text-gray-50"
    >Register</h2>
    <p class="mt-2 text-center text-sm text-gray-600 dark:text-gray-400">
      Create a new account to get started.
    </p>
  </div>
  <form class="space-y-6">
    <div class="grid grid-cols-2 gap-4">
      <div>
        <label
          class="peer-disabled:cursor-not-allowed peer-disabled:opacity-70 block text-sm font-medium text-gray-700 dark:text-gray-300"
          for="firstName"
        >
          First Name
        </label>
        <div class="mt-1">
          <input
            class="h-10 bg-background text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-black focus:outline-none focus:ring-black sm:text-sm dark:bg-gray-800 dark:border-gray-700 dark:text-gray-50"
            type="text"
            id="firstName"
            required=""
            value=""
          />
        </div>
      </div>
      <div>
        <label
          class="peer-disabled:cursor-not-allowed peer-disabled:opacity-70 block text-sm font-medium text-gray-700 dark:text-gray-300"
          for="lastName"
        >
          Last Name
        </label>
        <div class="mt-1">
          <input
            class="h-10 bg-background text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-black focus:outline-none focus:ring-black sm:text-sm dark:bg-gray-800 dark:border-gray-700 dark:text-gray-50"
            type="text"
            id="lastName"
            required=""
            value=""
          />
        </div>
      </div>
    </div>
    <div>
      <label
        class="peer-disabled:cursor-not-allowed peer-disabled:opacity-70 block text-sm font-medium text-gray-700 dark:text-gray-300"
        for="age"
      >
        Age
      </label>
      <div class="mt-1">
        <input
          class="h-10 bg-background text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-black focus:outline-none focus:ring-black sm:text-sm dark:bg-gray-800 dark:border-gray-700 dark:text-gray-50"
          type="number"
          id="age"
          value=""
        />
      </div>
    </div>
    <div>
      <label
        class="peer-disabled:cursor-not-allowed peer-disabled:opacity-70 block text-sm font-medium text-gray-700 dark:text-gray-300"
        for="email"
      >
        Email address
      </label>
      <div class="mt-1">
        <input
          class="h-10 bg-background text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-black focus:outline-none focus:ring-black sm:text-sm dark:bg-gray-800 dark:border-gray-700 dark:text-gray-50"
          type="email"
          id="email"
          autocomplete="email"
          required=""
          value=""
        />
      </div>
    </div>
    <div>
      <label
        class="peer-disabled:cursor-not-allowed peer-disabled:opacity-70 block text-sm font-medium text-gray-700 dark:text-gray-300"
        for="password"
      >
        Password
      </label>
      <div class="mt-1">
        <input
          class="h-10 bg-background text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-black focus:outline-none focus:ring-black sm:text-sm dark:bg-gray-800 dark:border-gray-700 dark:text-gray-50"
          type="password"
          id="password"
          autocomplete="current-password"
          required=""
          value=""
        />
      </div>
    </div>
    <div>
      <label
        class="peer-disabled:cursor-not-allowed peer-disabled:opacity-70 block text-sm font-medium text-gray-700 dark:text-gray-300"
        for="profilePicture"
      >
        Profile Picture
      </label>
      <div class="mt-1 flex items-center">
        <input
          class="h-10 bg-background text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-primary focus:outline-none focus:ring-primary sm:text-sm dark:bg-gray-800 dark:border-gray-700 dark:text-gray-50"
          id="profilePicture"
          accept="image/*"
          required=""
          type="file"
        />
      </div>

    </div>
    <div>
      <button
        class="items-center whitespace-nowrap ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 flex w-full justify-center rounded-md border border-transparent bg-black py-2 px-4 text-sm font-medium text-gray-50 shadow-sm hover:bg-black-600 focus:outline-none focus:ring-2 focus:ring-black focus:ring-offset-2 dark:bg-black-400 dark:text-gray-900 dark:hover:bg-black-500"
        type="submit"
      >
        Register
      </button>
    </div>
    <div class="flex items-center justify-center">
      <a
        class="text-sm font-medium text-black hover:underline dark:text-black-400"
        href="/login"
      >
        Already have an account? Sign in
      </a>
    </div>
  </form>
</div>
{{!-- 
<h1>Register</h1>
<form id="register-form" enctype="multipart/form-data">
  <div class="form-group">
    <label for="first_name">First name<span class="required">*</span></label>
    <input
      name="first_name"
      type="text"
      placeholder="input your first name"
      autocomplete="on"
      required
    /><br />
  </div>
  <div class="form-group">
    <label for="last_name">Last Name</label>
    <input
      name="last_name"
      type="text"
      placeholder="input your last name"
      min="0"
      max="99"
      autocomplete="on"
    /><br />
  </div>
  <div class="form-group">
    <label for="age">Age</label>
    <input name="age" type="number" placeholder="input your age" /><br />
  </div>
  <div class="form-group">
    <label for="email">Email<span class="required">*</span></label>
    <input
      name="email"
      type="email"
      placeholder="input your email"
      autocomplete="on"
      required
    /><br />
  </div>
  <div class="form-group">
    <label for="password">Password<span class="required">*</span></label>
    <input
      name="password"
      type="password"
      placeholder="input your password"
      required
    /><br />
  </div>
  <div class="form-group">
    <label for="profile_picture">Profile Picture:</label>
    <input
      id="profile_picture_register_input"
      {{! action="/imgs"  }}
      name="profile_picture"
      type="file"
      class="profile_picture"
      onchange="previewImage()"
    />
    <div id="imagePreview" class="image-preview"></div>
    <br />
  </div>
  <button class="greenButton" type="submit">Register!</button>
</form>--}}
<script src="/js/register.js"></script>


{{! SERIA ASI, VER POR QUE ROMPE TODOS LOS FORMATOS. CAMBIAR LO MENOS POSIBLE DEL FORM NUEVO CON LO DE ABAJO }}
{{!-- <div class="mt-1 flex items-center">
  <input
    class="h-10 bg-background text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-primary focus:outline-none focus:ring-primary sm:text-sm dark:bg-gray-800 dark:border-gray-700 dark:text-gray-50 profile_picture"
    id="profile_picture_register_input"
    onchange="previewImage()"
    name="profile_picture"
    accept="image/*"
    required=""
    type="file"
  />
</div>
<div class="ml-4 image-preview" id="imagePreview">
  {{! here image preview will be added with JS }}
</div> --}}