<h1>Reset password</h1>
<form id="resetPassForm">
  <label for="email">Email:</label>
  <input type="email" name="email" required placeholder="Enter your email"><br />
  <br>
  <button type="submit" class="greenButton">Send Reset Email</button>
</form>
<br>
<p>Have you remembered your password? <a href="/login">LOGIN</a></p>

<script src="/css/resetpass.css"></script>
<script src="/js/resetpass.js"></script>