<h1>Reset password</h1>
<form action="/resetpass">
  <label for="email">email</label>
  <input type="email" name="email" placeholder="email" /><br />
  <label for="password">New password</label>
  <input name="password" type="password" placeholder="password" /><br />
  <button type="submit">Reset password!</button>
</form>
<p>Have you remembered your password? <a href="/login">LOGIN</a></p>

<script src="/js/resetpass.js"></script>