* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #eee;
}

/* main {
  padding-left: 2rem;
  margin-bottom: 4rem;
} */

a {
  text-decoration: none;
}

a:hover {
  color: #3ca0e7;
}

li {
  list-style: none;
}

ul li ul li a {
  transition: all 0.5s ease;
}

img:hover {
  cursor: pointer;
}

h1 {
  color: #333;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  font-size: 24px;
  font-weight: 700;
}

h2 {
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  font-size: 1.5em;
  font-weight: 400;
}

p {
  display: block;
  /* margin-block-start: 1em; */
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  margin-bottom: 10px;
}

#cartQuantity {
  margin-left: 3px;
  font-style: normal;
}

.menu {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.menu-link {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

.menu-link:hover {
  text-decoration: underline;
}

#welcomeMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: rgb(0, 0, 143);
}

.pageTitle {
  text-align: center;
  padding: 1rem;
  color: blue;
}

.userProfile {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  width: 100%;
  align-content: center;
  align-items: flex-start;
}

.productTitle,
.profileItem {
  padding: 0.5rem;
}

#login-title {
  text-align: left;
  margin: 0;
  padding-left: 0;
}

.productList {
  margin-bottom: 3rem;
}

.redButton {
  background-color: #c82333;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  font-weight: 700;
}

.redButton:hover {
  background-color: #890f1b;
}

.smallRedButton {
  background-color: #c82333;
  color: #fff;
  padding: 5px 7.5px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.smallRedButton:hover {
  background-color: #890f1b;
}

.greenButton {
  background-color: #28a745;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  width: 10vw;
  border-radius: 0.5rem;
  line-height: 1;
  /* border: 2px solid var(--clr-main); */
  transition: 0.2s;
  font-weight: 700;
}

.greenButton:hover {
  background-color: #218838;
}

#greenButtonGithub {
  background-color: #28a745;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

#greenButtonGithub:hover {
  background-color: #218838;
}

.formButton {
  display: flex;
  justify-content: center;
}

#loginForm {
  margin-bottom: 1rem;
}

#register-form {
  margin-top: 1rem;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.required {
  color: red;
  margin-left: 5px;
}

input {
  width: 30vw;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#emailNotEdit {
  color: red;
}

#inputEmail {
  cursor: not-allowed;
}

.profileSection {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.userProfile {
  list-style-type: none;
  padding: 0;
}

.profileItem {
  margin-bottom: 15px;
  font-size: 18px;
}

.profile_picture {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
  margin-left: 0;
  max-width: 10rem;
}

.profile_picture::-webkit-file-upload-button {
  visibility: hidden;
}

.profile_picture::before {
  content: "Select file";
  display: inline-block;
  padding: 15px;
  background-color: #007bff;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  margin-left: -10px;
}

.profile_picture:hover::before {
  background-color: #0056b3;
}

#products-edit {
  align-content: flex-start;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#captionText {
  color: white;
  text-align: center;
}

#resetPassForm {
  margin-top: 1rem;
}

#imagePreview {
  aspect-ratio: 50 / 50;
  object-fit: cover;
  width: 50;
  height: 50;
}

/* navbar */
.navCategories {
  display: none;
  background: white;
}

.categoryDropdown:hover .navCategories {
  display: flex;
  flex-direction: column;
  position: absolute;
  max-width: 10rem;
  text-align: left;
  box-shadow: 0px 3px 5px -1px #ccc;
  padding: 17px;
  gap: 15px;
}

#profileDataNav{
  display: none;
}

#profileNavContainer:focus #profileDataNav,
#profileNavContainer:focus-within #profileDataNav,
#profileDataNav:focus-within {
  display: flex !important;
  flex-direction: column !important;
  position: absolute;
  width: 16rem;
  margin-top: 13px;
  text-align: left;
  box-shadow: 0px 3px 5px -1px #ccc;
}