#loginContainer {
  background-color: #f5f5f5;
  margin-top: 4rem;
  margin-right: 2rem;
  border-radius: 1rem;
}

#loginPicForms {
  display: flex;
  justify-content: center;
}

#loginContainer {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
}

#loginPictureSection {
  max-width: 50%;
}

.rememberForgotContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 30vw;
  margin-bottom: 1rem;
}

#rememberContainer {
  display: flex;
  gap: 8px;
}

#remember {
  margin: 0;
  width: auto;
}

#rememberText {
  text-align: left;
}

label {
  margin-bottom: 0;
  font-size: 12px;
}

.greenButton {
  width: 100%;
}

#bottomLoginForm p {
  text-align: center;
}

#thirdPartyLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.github-btn {
  background-color: #333; /* GitHub's dark gray */
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.github-btn:hover {
  background-color: #555; /* Darker gray for hover effect */
}

footer{
    position: static;
}