/* Estilos específicos para la página de perfil */
#welcomeMessage {
  color: #007bff;
}

form {
  margin-top: 20px;
}

#edit-profile-link{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: rgb(0, 0, 143);
}