<div class="sectionfooter">
  <div class="footer footerTop">
    <a class="logo" href="/">
      <h1>My Store</h1>
    </a>

    <div id="footerList" class="footerLinks">
      <div>
        <h2>Site</h2>
        <p>Register</p>
        <p>My profile</p>
        <p>Contact us</p>
      </div>
      {{! end of footer list div }}
    </div>
  </div>
  {{! end of footer top }}

  <div class="footer footerBottom">
    <div class="legal">
      <span> ©2024 </span>
      <span> LUCIANO DAMIAN MOSTACCIO</span>
    </div>
  </div>
</div>