<div class="sectionfooter">
  <div class="footer footerTop">
    <a class="logo" href="/">
      <h1>PC Market</h1>
    </a>

    <div id="footerList" class="footerLinks">
      <div>
        <a href="/register">Register</a>
        <a href="/profile">My profile</a>
        <a href="/contact">Contact us</a>
        <a href="/admin">Admin management</a>
      </div>
      {{! end of footer list div }}
    </div>
  </div>
  {{! end of footer top }}

  <div class="footer footerBottom">
    <div class="legal">
      <span> ©2024 </span>
      <span> LUCIANO DAMIAN MOSTACCIO</span>
    </div>
  </div>
</div>