<nav>
  <ul id="navList">
    <li class="navListItem"><a href="/register">Register</a></li>
    <li class="navListItem"><a href="/login">Login</a></li>
    <li class="navListItem"><a href="/profile">Profile</a></li>
    <li class="navListItem"><a href="/products">Products</a></li>
    <li class="navListItem"><a href="/cart">Cart</a></li>
    <li class="navListItem"><a href="/admin">Admin Management</a></li>
  </ul>
</nav>